.invalid-video-card,
.valid-video-card,
.loading-video-card {
    width: 20rem;
    height: 24rem;
    display: flex;
    margin: auto;

    video,
    canvas {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }

    canvas {
        position: relative;
        z-index: 1;
        left: -100%;
    }

    video {
        border-radius: 8px;
    }
}

.user-msgs {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 1.1rem;
    font-family: cursive;

    .valid-user {
        color: #399953;
    }

    .multi-user,
    .invalid-user {
        color: #d53e33;
    }

    .loading-user {
        color: #868686;
    }
}

.user-image {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

#userImg {
    display: none;
}

@keyframes rotate {
    100% {
        transform: rotate(1turn);
    }
}

.invalid-video-card {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    padding: 0.3rem;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    font-weight: bold;

    &::before {
        content: '';
        position: absolute;
        z-index: -2;
        left: -50%;
        top: -50%;
        width: 200%;
        height: 200%;
        background-color: #d53e33;
        background-repeat: no-repeat;
        background-size: 50% 50%, 50% 50%;
        background-position: 0 0, 100% 0, 100% 100%, 0 100%;
        background-image: linear-gradient(#d53e33, #d53e33), linear-gradient(#d53e33, #d53e33), linear-gradient(#d53e33, #d53e33), linear-gradient(#d53e33, #fff);
        animation: rotate 4s linear infinite;
    }

    &::after {
        content: '';
        position: absolute;
        z-index: -1;
        left: 6px;
        top: 6px;
        width: calc(100% - 12px);
        height: calc(100% - 12px);
        background: white;
        border-radius: 5px;
    }
}

.valid-video-card {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    padding: 0.3rem;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    font-weight: bold;

    &::before {
        content: '';
        position: absolute;
        z-index: -2;
        left: -50%;
        top: -50%;
        width: 200%;
        height: 200%;
        background-color: #399953;
        background-repeat: no-repeat;
        background-size: 50% 50%, 50% 50%;
        background-position: 0 0, 100% 0, 100% 100%, 0 100%;
        background-image: linear-gradient(#399953, #399953), linear-gradient(#399953, #399953), linear-gradient(#399953, #399953), linear-gradient(#399953, #fff);
        animation: rotate 4s linear infinite;
    }

    &::after {
        content: '';
        position: absolute;
        z-index: -1;
        left: 6px;
        top: 6px;
        width: calc(100% - 12px);
        height: calc(100% - 12px);
        background: white;
        border-radius: 5px;
    }
}

.loading-video-card {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    padding: 0.3rem;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    font-weight: bold;

    &::before {
        content: '';
        position: absolute;
        z-index: -2;
        left: -50%;
        top: -50%;
        width: 200%;
        height: 200%;
        background-color: #fff;
        background-repeat: no-repeat;
        background-size: 50% 50%, 50% 50%;
        background-position: 0 0, 100% 0, 100% 100%, 0 100%;
        background-image: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff), linear-gradient(#fff, #fff), linear-gradient(#fff, #fff);
        animation: rotate 4s linear infinite;
    }

    &::after {
        content: '';
        position: absolute;
        z-index: -1;
        left: 6px;
        top: 6px;
        width: calc(100% - 12px);
        height: calc(100% - 12px);
        background: white;
        border-radius: 5px;
    }
}